<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-content" padding>

  <ion-row>
    <ion-col col-5></ion-col>
    <ion-col col-3>
      <ion-label>bpm: {{bpm}}</ion-label>
    </ion-col>
    <ion-col col-1>
      <ion-icon *ngIf="!isPlaying" name="play" (click)="play(); isPlaying = !isPlaying"></ion-icon>
      <ion-icon *ngIf="isPlaying" name="pause" (click)="pause(); isPlaying = !isPlaying"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-range color="secondary" pin="true" snaps="true" [(ngModel)]="bpm" min="40" max="200"></ion-range>
  </ion-item>

</ion-content>