.home-content {

    .ion-md-play:before {
        font-size: 50px;
    }

    .ion-md-pause:before {
        font-size: 50px;
    }

    .ion-md-refresh:before {
        font-size: 50px;
    }

    .ion-md-settings:before {
        font-size: 50px;
    }

    .bpm-footer {
        display: inline;
        font-weight: 700;
        font-size: 35px;
        position: relative;
        top: 5px;
        left: 20px;
    }

    .bar-img {
        padding-left: 0px;
    }

    .bar-col {
        padding-left: 0px;
    }

    .blue-line {
        opacity: .1;
        background-color: blue;
        width: 180px;
        height: 170px;
        z-index: 10;
        top: 60px;
        left: -10px;
        position: fixed;
    }

    .toolbar {
        min-height: 80px;
    }

    .button {
        height: 70px;
        min-width: 70px;
    }

    .rudiment-names {
        position: absolute; // redo this, temp for now
        top: 50px;
        display: inline-block;
    }

    .rudiment-name {
        color: orange;
    }

    .rudiment-name-lining {
        display: inline-block;
        width: 30px;
        height: 1px;
        background-color: blue;
    }

    .line {
        color: blue;
        width: 112px;
        height: 47px;
        border-bottom: 1px solid black;
        position: absolute;
    }

    .button-badge {
        background-color: black;
        border-radius: 10px;
        color: white;
        padding: 1px 4px;
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
    }
}