.home-content {

    .ion-md-play:before {
        font-size: 50px;
    }

    .ion-md-pause:before {
        font-size: 50px;
    }

    .ion-md-refresh:before {
        font-size: 50px;
    }

    .ion-md-settings:before {
        font-size: 50px;
    }

    .ion-md-download:before {
        font-size: 50px;
    }

    .ion-md-folder-open:before {
        font-size: 50px;
    }

    .ion-ios-play:before {
        font-size: 50px;
    }

    .ion-ios-pause:before {
        font-size: 50px;
    }

    .ion-ios-refresh:before {
        font-size: 50px;
    }

    .ion-ios-settings:before {
        font-size: 50px;
    }

    .ion-ios-download:before {
        font-size: 50px;
    }

    .ion-ios-folder-open:before {
        font-size: 50px;
    }

    .bpm-footer {
        display: inline;
        font-weight: 700;
        font-size: 40px;
        position: relative;
        left: 20px;
    }

    .bar-img {
        padding-left: 0px;
    }

    .bar-col {
        padding-left: 0px;
    }

    .blue-line {
        // -webkit-transition: all linear 1.25s;
        opacity: .1;
        background-color: blue;
        z-index: 10;
        top: 16%;
        position: fixed;
    }

    .toolbar {
        min-height: 80px;
    }

    .button {
        height: 70px;
        min-width: 70px;
    }

    .button.metronome-button {
        height: 50px;
        min-width: 50px;
    }

    .rudiment-names {
        position: relative;
        top: 7%;
    }

    .staff-position {
        top: -7%;
    }

    .rudiment-name {
        display: inline;
        color: orange;
        position: absolute;
        width: 160px;
    }

    .snare-button-active {
        background-color: red;
    }

    .snare-button-inactive {
        background-color: grey;
    }

}

.alert-button-group {
        display: -webkit-box;
}