<ion-content class="home-content" no-bounce>

  <div *ngIf="isPlaying && settings?.useMetronomeSlider" [style.transform]="'translateX(' + sliderPosition + 'px)'" [style.width.px]="vexRendererService.firstBeatWidths[counter - 1]"
    [style.height.px]="vexRendererService.stave.getHeight() + 40" class="blue-line"></div>

  <ion-row class="rudiment-names">
    <span *ngFor="let rudiment of pattern" [style.transform]="'translateX(' + rudiment.firstNotePosition + 'px)'" class="rudiment-name">{{rudiment.name}}</span>
  </ion-row>

  <div class="staff-position" [style.position]="platformService.isAndroid ? relative : absolute" #ogStaff></div>

  <ion-footer no-border>
    <ion-toolbar height="80px">
      <ion-row>
        <button ion-button (click)="showRange = !showRange" style="font-size: 20px" [disabled]="playMidi">Tempo</button>
        <button ion-button *ngIf="!isPlaying" (click)="playAll(); isPlaying = !isPlaying">
          <ion-icon name="play"></ion-icon>
        </button>
        <button ion-button *ngIf="isPlaying" (click)="pause(); isPlaying = !isPlaying">
          <ion-icon name="pause"></ion-icon>
        </button>
        <ion-label class="bpm-footer">bpm: {{bpm}}</ion-label>
        <!--<button ion-button (click)="playMidi = !playMidi; toggleMidi()" [ngClass]="{'snare-button-inactive': !playMidi, 'snare-button-active': playMidi}">
            <span style="font-size: 30px" class="snare-button-text">S</span>
        </button>-->
        <button ion-button (click)="renderPattern(rudimentService.getRudimentPattern())">
          <ion-icon name="refresh"></ion-icon>
        </button>
        <button ion-button (click)="openSettings()"><ion-icon name="settings"></ion-icon></button>
        <ion-item *ngIf="showRange">
          <ion-range snaps="true" debounce="500" [(ngModel)]="bpm" (ngModelChange)="tempoChange()" min="20" max="200">
            <button class="metronome-button" ion-button outline range-left (click)="addMinusOneBpm('minus')">-</button>
            <button class="metronome-button" ion-button outline range-right (click)="addMinusOneBpm('add')">+</button>
          </ion-range>
        </ion-item>

      </ion-row>
    </ion-toolbar>
  </ion-footer>

</ion-content>